DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="change_me_please"
ADMIN_SESSION_SECRET="replace_with_32_chars_secret"
ENCRYPTION_SECRET="replace_with_32_chars_secret_for_aes"
USER_SESSION_SECRET="replace_with_32_chars_user_secret"
CNY_PER_USD="7.2"
CHAT_PRICE_MULTIPLIER="1.2"
REFERRAL_REBATE_RATE="0.05"
REFERRAL_INVITER_BONUS_CNY="2"
REFERRAL_INVITEE_BONUS_CNY="1"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
