DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="change_me_please"
ADMIN_SESSION_SECRET="replace_with_32_chars_secret"
ENCRYPTION_SECRET="replace_with_32_chars_secret_for_aes"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
